*.class
*.pxm

# Latex
*.log
*.lol
*.lot
*.lof
*.out
*.toc
*.aux
*.synctex.gz
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.bcf
*.run.xml
*.tdo
*.gls
*.glo
*.glg
*.ist

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

excludedContent/

Sonstiges/~$MFEM-Beispiel-Spring.xlsx
Sonstiges/~$MFEM-Beispiel-GoKit.xlsx
